# SPDX-FileCopyrightText: 2022-2026 Gilles Caulier <caulier dot gilles at gmail dot com>
# SPDX-License-Identifier: CC0-1.0
#
# NOTE: for the WEBSITE_LANGUAGES see requirements is this README section:
#       https://invent.kde.org/documentation/digikam-doc/-/blob/master/README.md?ref_type=heads#how-to-add-a-new-target-language

include:
  - project: sysadmin/ci-utilities
    file:
      - /gitlab-templates/website-sphinx-app-docs.yml
variables:
    EPUB_NAME: DigikamManual
    WEBSITE_LANGUAGES: ca cs de en es fi fr it ja lt nl pt_BR pt_PT sk sl uk_UA zh_CN

run_tests:
  stage: test
  image: invent-registry.kde.org/sysadmin/ci-images/staticweb:latest
  tags:
    - Linux
  script:
    # Run unit-tests
    - make test
    - make linkcheck || true

