<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="document versions">
<ul id="versionwrap" role="presentation">
    <li role="presentation">
        <div class="version-label"><span class="fa fa-language"> Language</span></div>
    </li>
    <li role="presentation">
        <span id="lang-popover" class="version-btn" tabindex="0" role="button"  aria-label="language selector" aria-haspopup="true" aria-controls="version-langlist">
            {% if language is not none %} {{ language }} {% else %} en {% endif %}
        </span>
        <div class="version-dialog" aria-hidden="true">
            <div class="version-arrow" aria-hidden="true"></div>
            <div class="version-title">Languages</div>
            <ul id="version-langlist" class="version-list" role="menu" aria-labelledby="lang-popover" aria-hidden="true">
                <li role="presentation">Loading...</li>
            </ul>
        </div>
    </li>
</ul>
</div>
